<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yak Shavings | Programming Explorations</title>
    <meta name="description" content="Eamonn O'Brien-Strain's Blog">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.8.2"
        integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
</head>

<body>
    <header>
        <h1><a href="/">Yak Shavings</a></h1>
    </header>
    <main hx-swap="beforeend" hx-push-url="true">
        <article hx-select="main" hx-trigger="click once"
            hx-get="/posts/2021-06-01-trust-experience.html">
            <h2>Trust Experience</h2>
        </article>
        <article hx-select="main" hx-trigger="click once"
            hx-get="/posts/2021-01-29-mandelbrot-3.html">
            <h2>Hill-Shading the Mandelbrot Set</h2>
        </article>
    </main>
    <footer>
    </footer>
</body>

</html>