<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta name="description" content="Eamonn O'Brien-Strain's Blog">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org@1.8.2"
    integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
</head>

<body>
  <header>
    <h1><a href="/">Yak Shavings</a></h1>
  </header>
  <h2>{{title}}</h2>
  <main>
    {{> tmp/}}
  </main>
  <footer>
  </footer>
</body>

</html>